<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width">
                <title>{{ service_name }}</title>
        </head>
        <body>
                <div>
                        <h2>Status:</h2>
                        {% if is_active %}
                        <p>Сервис работает</p>
                        {% else %}
                        <p>Сервис остановлен</p>
                        {% endif %}
                </div>
                <div>
                        Кнопочки.
                        {{ is_flagged }}
                        <button id='start'
                            {% if not is_flagged %} disabled {% endif %}
                            onclick="onStart()">Start</button>
                        <button id='stop' onclick="onStop()">Stop</button>
                        <button id='restart'
                            {% if not is_flagged %} disabled {% endif %}
                            onclick="onRestart()">Restart</button>
                        </br>
                        <input type="checkbox" name="is_flagged" id="is_flagged" onclick="send_flagg()"
                            {% if is_flagged %} checked {% endif %}> Включить сервис</br>
                <div/>


            <script>
           async function onStart(){
            const res = await fetch('', {
                method: 'POST',
                    body: JSON.stringify({button:'start'})
            });
            alert('start');
           };
           async function onStop(){
            const res = await fetch('', {
                method: 'POST',
                    body: JSON.stringify({button:'stop'})
            });
            alert('stop');
           };
           async function onRestart(){
            const res = await fetch('', {
                method: 'POST',
                body: JSON.stringify({button:'restart'})
            });
            alert('stop');
           };
        async function send_flagg(){
            data = {is_flagged: 'yes'}
            
            if (document.getElementById('is_flagged').checked) {
                const res = await fetch('/redis',{
                    method: 'POST',
                    body: JSON.stringify({is_flagged: 'yes'})
                });
                document.location.reload(true);
            } else {
                const res = await fetch('/redis',{
                    method: 'POST',
                    body: JSON.stringify({is_flagged: 'no'})
                });
                document.location.reload(true);
            }
        };



            </script>
        </body>
</html>
